<form class="" action="/signup" method="POST">
  <label for="first_name">
    First Name:
    <input type="text" name="first_name" />
  </label>
  <label for="last_name">
    Last Name:
    <input type="text" name="last_name" />
  </label>
  <label for="email">
    Email:
    <input type="email" name="email" value="enter email" />
  </label>
  <label for="password">
    Password:
    <input type="password" name="password" value="enter password" />
  </label>
  <input type="submit" name="sumbit" value="Signup">
</form>
