<h1> Links </h1>

<a href="links/new" class="button" >Add New Link</a>

  <ul id="links">
    <%@links.each do |link|%>
      <li>
        title: <%= link.title %>
        url: <%= link.url %>
      </li>
    <% end %>
  </ul>
