<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    The content we have here
      <form action="/links" method="post" id="form">
        <input type="text" name="url" value="url">
        <input type="text" name="title" value="title">
        <input type="submit" name="name" value="submit">
      </form>
  </body>
</html>
