<h1>New Links</h1>

<form method="POST" action="/links">
  <label for="title">
    Title:
    <input type="text" name="title"/>
  </label>
  <label for="url">
    URL:
    <input type="text" name="url" />
  </label>
  <input type="submit" name="add_link" value="Add Link" />
</form>
