<ul id="links">
  <%@links.each do |link|%>
    <li>
      <% if link.tags.map(&:name).join == "bubbles" %>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags:  <%= link.tags.map(&:name).join %>
      <% end %>
    </li>
  <% end %>
</ul>
