<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>

    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <% if flash[:warning] && !flash[:warning].empty? %>
      <% flash[:warning].each do |msg| %>
        <div class="alert alert-block">
          <%= msg %>
         </div>
       <% end %>
     <% end %>
    <%= yield %>
  </body>
</html>
