<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Hi <%= current_user.first_name %>! Welcome to your new Bookmark Manager account.
    <% end %>
    <%= yield %>

  </body>
</html>
