<form class="" action="" method="POST">
  <label for="email">
    Email:
    <input type="email" name="email" value="enter email">
  </label>
  <label for="password">
    Password:
    <input type="password" name="password" value="enter password">
  </label>
  <input type="submit" name="sumbit" value="Signup">
</form>
